/* Post Like System */
a.jm-post-like {
	font-weight: normal;
	display: inline-block;
	width: auto;
	font-size: 13px;
	font-size: 0.928571429rem;
	line-height: 1.846153846;
	-moz-transition: all 0.3s ease-out 0.2s;
	-webkit-transition: all 0.3s ease-out 0.2s;
	-o-transition: all 0.3s ease-out 0.2s;
}
a.jm-post-like.liked {
	color: #da1b1b;
}
a.jm-post-like:hover,
a.jm-post-like:active,
a.jm-post-like:focus,
a.liked:hover,
a.liked:active,
a.liked:focus { /* default on hover */
	color: #000;
}
